/* Add application styles & imports to this file! */
.nav-tabs {
    border-bottom: 1px solid #ffffff;
}
#nav-tab{
    margin:30px;
    justify-content: center;
}
a {
    color: #0f2135;
    text-decoration: none;
    background-color: transparent;
}
.card.user_search {
    margin-top:  30px; 
    margin-bottom:  250px;
    display: table-cell;
    background-color: #ffffff17;
    color: beige;
}
.card.connection_search{
    display: table-cell;
    background-color: #ffffff17;
    color: beige;
}
.searchCheckbox{
    text-align: center;
}
.checkbox {
    margin-left: 5px;
}
.card-title {
    background-color: none;
    color: darksalmon;
}
.card-subtitle{
    margin-top: 0;
    margin-bottom: 1rem;
    color: beige;
}
.search_btn {
    border-color: none;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #0e272a;
    color: #fffffe;
    margin: 3px;
    padding: 5px;
    clear: right;
}
.card-title {
    /* margin: 8px; */
    font-weight: 600;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 700px;
}
.card.connection_alert{
    display: table-cell;
    background-color: #fffffe;
}
.card.user_alert{
    display: table-cell;
    background-color: #fffffe;
}
.card-btn-controls {
    padding: 2px;
    margin-top: 25px;
    margin-bottom: 70px;
    /* display: -webkit-box;
    -webkit-box-pack: center; */
}
button.btn-controls {
    border: none;
    background-color: coral;
    color: #0f292c;
}
.btn-controls#prev_btn{
    float: left;
}
.btn-controls#next_btn{
    float: right;
}
.search_inputs {
    margin-top: 10px;
}
.search_start{
    float: left;
}
.search_end{
    float: right;
    margin: 3px;
    margin-bottom: 30px;
}
.card.connection{
    margin-top:  30px; 
    margin-bottom: 100px;
    background-color: #173e43;
    border: 3px solid #2d0a32;

}
.card.user{
    margin-top:  30px; 
    margin-bottom: 100px;
    background-color: #173e43;
    border: 3px solid #2d0a32;
}
button.showOrHideBtn{
    color: #0f292c;
    background-color: #fae596;
    border-color: #fae596;
        margin-top: 35px;
}
.searchInput{
    border-radius: 5px;

}
