<div class="card" id="card-top-bar">
       <button class="button" id="btn-history-top-bar" (click)="myHistoySelected = true">My History</button>
       <button id="btn-history-top-bar" (click)="myHistoySelected = false">Connections History</button>
</div>  


<div class="container-content" *ngIf="myHistoySelected; else elseBlock">

       <div [ngSwitch]="user.isOwner">

              <!-- the same view can be shown in more than one case -->
              <div *ngSwitchCase="state.Accept">
                     
                     <div [ngSwitch]="user.hasAlerts">

                            <!-- the same view can be shown in more than one case -->
                            <div *ngSwitchCase="state.Accept"> 

                                   <div *ngFor="let alert of  user.alerts"> 
                                          <br/>
                                                 <div class="card">
                                                 <p>For Testig: {{alert.alertID}}</p>
                                                 <p>For Testig: {{alert.timestamp}}</p>

                                                 <p>"Alert"</p>
                                                 <p>{{alert.image_path}}</p>
                                                 <p>{{alert.timestamp | date:'dd/MM/yyyy HH:mm:ss'}}</p>
                                                 <p>{{alert.notes}}</p>
                                                 
                                          </div>
                                   </div>

                                   <div class="card-btn-controls">
                                          <div *ngIf="user.prevStartPoint != null">
                                                 <button class="btn-controls" (click)="getPrev(-1,false)">Prev</button>
                                          </div>
                                          <div *ngIf="user.nextStartPoint != null">
                                                 <button class="btn-controls" (click)="getNext(-1,false)">Next</button>
                                          </div>
                                   </div>
                                   
                            </div>
                            <div *ngSwitchCase="state.Deny"> 
                                   Currently, your alert history is empty
                            </div>
                            <div *ngSwitchDefault> Loading, please wait... </div> <!--For state.StandBy-->
              
                     </div>

              </div>

              <div *ngSwitchCase="state.Deny"> Currently, you are not a security system owner</div>

              <!--default case when there are no matches -->
              <div *ngSwitchDefault> Loading, please wait... </div> <!--For state.StandBy-->

       </div>

</div>


<!-- Connctions history selcted -->
<ng-template  class="container-content" #elseBlock>

       <div [ngSwitch]="user.hasConnections">

              <!-- the same view can be shown in more than one case -->
              <div *ngSwitchCase="state.Accept">

                     <div *ngFor="let connection of  connections">

                            <div  [ngSwitch]="connection.shareHistory">

                                   <!-- the same view can be shown in more than one case -->
                                   <div *ngSwitchCase="state.Accept">

                                          <div class="card">
                                                 <p>{{connection.firstName}} {{connection.lastName}}</p>
                                                 <p>{{connection.email}}</p>
                                                 <p>{{connection.phone}}</p>

                                                 <div *ngIf="connection.hideHistory; else elseBlock">
                                                        <button (click)="showAlerts(connection.index)">Show history</button>
                                                 </div>

                                                 <!-- Show history -->
                                                 <ng-template #elseBlock>

                                                        <div [ngSwitch]="connection.hasAlerts">

                                                               <!-- the same view can be shown in more than one case -->
                                                               <div *ngSwitchCase="state.Accept"> 
                                   
                                                                      <div *ngFor="let alert of  connection.alerts"> 
                                                                             <br/>
                                                                             <div class="card">
                                                                                    <p>For Testig: {{alert.alertID}}</p>
                                                                                    <p>For Testig: {{alert.timestamp}}</p>

                                                                                    <p>"Alert"</p>
                                                                                    <p>{{alert.image_path}}</p>
                                                                                    <p>{{alert.timestamp | date:'dd/MM/yyyy HH:mm:ss'}}</p>
                                                                                    <p>{{alert.notes}}</p>

                                                                             </div>
                                                                      </div>

                                                                       <div class="card-btn-controls">
                                                                             <div *ngIf="connection.prevStartPoint != null">
                                                                                    <button class="btn-controls" (click)="getPrev(connection.index,true)">Prev</button>
                                                                             </div>
                                                                             <div *ngIf="connection.nextStartPoint != null">
                                                                                    <button class="btn-controls" (click)="getNext(connection.index,true)">Next</button>
                                                                             </div>
                                                                      </div>
                                                                      
                                                               </div>
                                                               <div *ngSwitchCase="state.Deny"> 
                                                                      Currently, connections alert history is empty
                                                               </div>
                                                               <div *ngSwitchDefault> Loading, please wait... </div> <!--For state.StandBy-->
                                                 
                                                        </div>
                                   

                                                        <button (click)="connection.hideHistory = true">Hide history</button> 
                                                 </ng-template>
                                                  
                                          </div>

                                   </div>

                                   <div *ngSwitchCase="state.Deny">

                                          <div class="card">
                                                 <p>{{connection.firstName}} {{connection.lastName}}</p>
                                                 <p>{{connection.email}}</p>
                                                 <p>{{connection.phone}}</p>
                                                 <p>History share is denied</p>
                                                 <button disabled>Show History</button> <!--disabled share history-->
                                          </div>

                                   </div>
                                   
                                   <!--default case when there are no matches -->
                                   <div  *ngSwitchDefault>Loading, please wait...</div>
                            </div>
                           
                     </div>

              </div>

              <div *ngSwitchCase="state.Deny">Currently, you are not a contact of any security system owner</div>

              <!--default case when there are no matches -->
              <div *ngSwitchDefault> Loading, please wait... </div> <!--For state.StandBy-->
       </div>


</ng-template>


<!-- *********************For Testing********************* :-->
<h3>From:</h3>
<label>Choose a Year:</label>
<input type="number" [(ngModel)]="user.searchStartPoint.year" class="from-control"><br>
<label>Choose a month:</label>
<input type="number" [(ngModel)]="user.searchStartPoint.month" class="from-control"><br>
<label>Choose a day:</label>
<input type="number" [(ngModel)]="user.searchStartPoint.day" class="from-control"><br>
<label>Choose an hour:</label>
<input type="number" [(ngModel)]="user.searchStartPoint.hour" class="from-control"><br>
<label>Choose minutes:</label>
<input type="number" [(ngModel)]="user.searchStartPoint.minutes" class="from-control"><br>
<label>Choose seconds:</label>
<input type="number" [(ngModel)]="user.searchStartPoint.seconds" class="from-control"><br>

<h3>To:</h3>
<label>Choose a Year:</label>
<input type="number" [(ngModel)]="user.searchEndPoint.year" class="from-control"><br>
<label>Choose a month:</label>
<input type="number" [(ngModel)]="user.searchEndPoint.month" class="from-control"><br>
<label>Choose a day:</label>
<input type="number" [(ngModel)]="user.searchEndPoint.day" class="from-control"><br>
<label>Choose an hour:</label>
<input type="number" [(ngModel)]="user.searchEndPoint.hour" class="from-control"><br>
<label>Choose minutes:</label>
<input type="number" [(ngModel)]="user.searchEndPoint.minutes" class="from-control"><br>
<label>Choose seconds:</label>
<input type="number" [(ngModel)]="user.searchEndPoint.seconds" class="from-control"><br>

<button (click)="getNextSearch(false,user.searchStartPoint,user.searchEndPoint)">getNextSearch</button>
<!-- *********************For Testing********************* :-->

<!-- <button (click)="testSearch()">testSearch</button> --> -->

<!--<div *ngIf="user.nextStartPoint != null">
       <button (click)="getNext(-1,false)">Get Next</button>
</div>
<div *ngIf="user.prevStartPoint != null">
       <button (click)="getPrev(-1,false)">Get Prev</button>
</div> -->
<!-- <button (click)="getPrev()">Get Prev</button> -->



