<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card" id="card-top-bar">
       <button class="button" id="btn-history-top-bar" (click)="myHistoySelected = true">My History</button>
       <button id="btn-history-top-bar" (click)="myHistoySelected = false">Connections History</button>
</div>

<div class="container-content" *ngIf="myHistoySelected; else elseBlock">

       <div [ngSwitch]="user.isOwner">

              <!-- the same view can be shown in more than one case -->
              <div *ngSwitchCase="state.Accept">
                     
                     <div [ngSwitch]="user.hasAlerts">

                            <!-- the same view can be shown in more than one case -->
                            <div *ngSwitchCase="state.Accept"> 

                                   <div *ngFor="let alert of  user.alerts"> 
                                          <br/>
                                                 <div class="card">
                                                 <p>For Testig: {{alert.alertID}}</p>
                                                 <p>For Testig: {{alert.timestamp}}</p>

                                                 <p>"Alert"</p>
                                                 <p>{{alert.image_path}}</p>
                                                 <p>{{alert.timestamp | date:'dd/MM/yyyy HH:mm:ss'}}</p>
                                                 <p>{{alert.notes}}</p>
                                                 <button class="btn" (click)="deleteAlert(alert.alertID)"><i class="fa fa-trash"></i></button>
                                          </div>
                                   </div>

                                   <div class="card-btn-controls">
                                          <div *ngIf="hasPrev(user)">
                                                 <button class="btn-controls" (click)="user.PREV_FLAG = true; getNext(user, true)">Prev</button>
                                          </div>
                                          <div *ngIf="hasNext(user)">
                                                 <button class="btn-controls" (click)="user.NEXT_FLAG = true; getNext(user, false)">Next</button>
                                          </div>
                                   </div>

                                   <div>
                                          <form (ngSubmit)="search(user)">
                                                 <label>Show All:</label>
                                                 <input type="checkbox" name="showAll" [checked]="user.showAll" (change)="user.showAll = !user.showAll">
                                                 <label>From:</label>
                                                 <input name="fromDate" type="Date" [(ngModel)]="user.fromDate" class="form-control">
                                                 <input name="fromTime" type="time" [(ngModel)]="user.fromTime" class="form-control">
                                                 <label>To:</label>
                                                 <input name="toDate" type="date" [(ngModel)]="user.toDate" class="form-control">
                                                 <input name="toTime" type="time" [(ngModel)]="user.toTime" class="form-control">
                                                 <input type="submit" value="Search" class="btn float-right search_btn">
                                          </form>
                                   </div>
                                   
                            </div>
                            <div *ngSwitchCase="state.Deny"> 
                                   Currently, your alert history is empty
                            </div>
                            <div *ngSwitchDefault> Loading, please wait... </div> <!--For state.StandBy-->
              
                     </div>

              </div>

              <div *ngSwitchCase="state.Deny"> Currently, you are not a security system owner</div>

              <!--default case when there are no matches -->
              <div *ngSwitchDefault> Loading, please wait... </div> <!--For state.StandBy-->

       </div>

</div>


<!-- Connctions history selcted -->
<ng-template  class="container-content" #elseBlock>

       <div [ngSwitch]="user.hasConnections">

              <!-- the same view can be shown in more than one case -->
              <div *ngSwitchCase="state.Accept">

                     <div *ngFor="let connection of  connections">

                            <div  [ngSwitch]="connection.shareHistory">

                                   <!-- the same view can be shown in more than one case -->
                                   <div *ngSwitchCase="state.Accept">

                                          <div class="card">
                                                 <p>{{connection.firstName}} {{connection.lastName}}</p>
                                                 <p>{{connection.email}}</p>
                                                 <p>{{connection.phone}}</p>

                                                 <div *ngIf="connection.hideHistory; else elseBlock">
                                                        <button (click)="showAlerts(connection.index)">Show history</button>
                                                 </div>

                                                 <!-- Show history -->
                                                 <ng-template #elseBlock>

                                                        <div [ngSwitch]="connection.hasAlerts">

                                                               <!-- the same view can be shown in more than one case -->
                                                               <div *ngSwitchCase="state.Accept"> 
                                   
                                                                      <div *ngFor="let alert of  connection.alerts"> 
                                                                             <br/>
                                                                             <div class="card">
                                                                                    <p>For Testig: {{alert.alertID}}</p>
                                                                                    <p>For Testig: {{alert.timestamp}}</p>

                                                                                    <p>"Alert"</p>
                                                                                    <p>{{alert.image_path}}</p>
                                                                                    <p>{{alert.timestamp | date:'dd/MM/yyyy HH:mm:ss'}}</p>
                                                                                    <p>{{alert.notes}}</p>

                                                                             </div>
                                                                      </div>

                                                                       <div class="card-btn-controls">
                                                                             <div *ngIf="hasPrev(connection)">
                                                                                    <button class="btn-controls" (click)="connection.PREV_FLAG = true; getNext(connection,true)">Prev</button>
                                                                             </div>
                                                                             <div *ngIf="hasNext(connection)">
                                                                                    <button class="btn-controls" (click)="connection.NEXT_FLAG = true; getNext(connection,false)">Next</button>
                                                                             </div>
                                                                      </div>

                                                                      <div>
                                                                             <form (ngSubmit)="search(connection)">
                                                                                    <label>Show All:</label>
                                                                                    <input type="checkbox" name="showAll" [checked]="user.showAll" (change)="user.showAll = !user.showAll">
                                                                                    <label>From:</label>
                                                                                    <input name="fromDate" type="Date" [(ngModel)]="user.fromDate" class="form-control">
                                                                                    <input name="fromTime" type="time" [(ngModel)]="user.fromTime" class="form-control">
                                                                                    <label>To:</label>
                                                                                    <input name="toDate" type="date" [(ngModel)]="user.toDate" class="form-control">
                                                                                    <input name="toTime" type="time" [(ngModel)]="user.toTime" class="form-control">
                                                                                    <input type="submit" value="Search" class="btn float-right search_btn">
                                                                             </form>
                                                                      </div>
                                                                      
                                                               </div>
                                                               <div *ngSwitchCase="state.Deny"> 
                                                                      Currently, connections alert history is empty
                                                               </div>
                                                               <div *ngSwitchDefault> Loading, please wait... </div> <!--For state.StandBy-->
                                                 
                                                        </div>
                                   

                                                        <button (click)="connection.hideHistory = true">Hide history</button> 
                                                 </ng-template>
                                                  
                                          </div>

                                   </div>

                                   <div *ngSwitchCase="state.Deny">

                                          <div class="card">
                                                 <p>{{connection.firstName}} {{connection.lastName}}</p>
                                                 <p>{{connection.email}}</p>
                                                 <p>{{connection.phone}}</p>
                                                 <p>History share is denied</p>
                                                 <button disabled>Show History</button> <!--disabled share history-->
                                          </div>

                                   </div>
                                   
                                   <!--default case when there are no matches -->
                                   <div  *ngSwitchDefault>Loading, please wait...</div>
                            </div>
                           
                     </div>

              </div>

              <div *ngSwitchCase="state.Deny">Currently, you are not a contact of any security system owner</div>

              <!--default case when there are no matches -->
              <div *ngSwitchDefault> Loading, please wait... </div> <!--For state.StandBy-->
       </div>


</ng-template>





<!-- <form (ngSubmit)="search(user)">
       <label>Show All:</label>
       <input type="checkbox" name="showAll" [checked]="user.showAll" (change)="user.showAll = !user.showAll">
       <label>From:</label>
       <input name="fromDate" type="Date" [(ngModel)]="user.fromDate" class="form-control">
       <input name="fromTime" type="time" [(ngModel)]="user.fromTime" class="form-control">
       <label>To:</label>
       <input name="toDate" type="date" [(ngModel)]="user.toDate" class="form-control">
       <input name="toTime" type="time" [(ngModel)]="user.toTime" class="form-control">
       <input type="submit" value="Search" class="btn float-right search_btn">
</form> -->





