.card-list {
  text-align: -webkit-center;
}
.card#btn-add-section{
  /* background:RosyBrown; */
  background-color: rgba(241, 241, 241, 0);
  border:  rgba(241, 241, 241, 0);
  margin-top: 55px;
}
.card#add-section-body{
  /* border:3px solid #1b2743; */
  border: 3px solid #2d0a32;
  width: 400px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  text-align: left;
}
.card-head{
/* background-color: #0f1131; */
background-color: rgb(73 25 57);
padding: 10px;
}
.card-title {
  margin: 8px;
  color: #dbdee7;
  font-weight: 600;
}
#add_body {
  padding: 30px;
  /* background-color: #d0cac0; */
  background-color: #210325;
  color: whitesmoke;
}
.card#contacts { 
  margin-top:50px;
  margin-bottom: 20px;
  width: 400px;
  background-color: #598763;

 }   
 .card#requests { 
  margin-top:50px;
  margin-bottom: 20px;
  width: 400px;
  /* background-color: #875959; */
  background-color: #173e43;
  border: 3px solid #2d0a32;
 } 
.add-section {
  text-align: -webkit-center;
}

label{
  color: #0d3a5ff6;
  font-weight: bold;
  font-family: URW Chancery L, cursive;
} 

#choice{
  color: whitesmoke;
  font-weight: bold;
  font-family: URW Chancery L, cursive;
} 

button#cancel {
  float: left;
}

input[type="radio"]{
  /* margin: 0 10px 0 10px; */
  margin: 5px;
}

#radio-choice{
  align-self: center;
  align-content: center;
}

input[type="text"],input[type="email"]{
  border-radius: 3px;
  border:#0c020e;
  margin: 5px;
  height: 30px;
  width:60%;
}

#history-share{
  margin-top: 20px;
  margin-bottom: 20px;
}

.error-msg{
  background-color: rgba(236, 236, 236, 0);
}



