
h4{
    color: aliceblue;
}

input{
    margin: 3px;
    border-radius: 5px;
    height: 40px;
}

.edit-from-control{
    border-radius: 5px;
    height: 30px;
    width: 140px;
}
.add-contact-section{

    width: 400px;
    
    /* color: black; */
    /* margin:auto; */
    /* position: absolute; */
    /* left: 47%;
    top: 10%; */
    /* align-items: center; */
}

#add-contact-btn{
    position: relative;
    /* left: 10%; */
    color: black;
    background-color:rgba(190, 190, 190, 0.739); 
    margin:3px;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
}
    #add-contact-btn:hover{
    color: black;
    background-color: #ff7c25d8;
    }
    

table {
    border: solid 1px rgb(27, 16, 34);
    /* border-collapse: collapse; */
    /* margin-top: 10px; */
    /* position: absolute; */
    /* top: 50%;
    left: 30%; */
  }
  
  th, td{
    border: solid 2px  rgba(0, 0, 0, 0.329);
    padding: 8px 18px;
    /*color: rgba(190, 190, 190, 0.739);*/
    font-family: 'Open Sans' ;/*is this needed??*/
    color: aliceblue;
  }
  
  th {
   font-size: 12px;
   color:  rgba(190, 190, 190, 0.739);
   text-align: left;
   background-color:rgba(0, 0, 0, 0.329);
  }

  table thead th {
        color: aliceblue;
        font-size:  18px; 
        font-family:'Open Sans'; 
        font-weight: bold;
  }
td a{
    margin: 7px;
}
