<div [ngSwitch]="state">
    <div *ngSwitchCase="Status.StandBy">Loading, please wait... </div>
    <div *ngSwitchDefault>
        <div class="add-contact-section">

            <h3>Add Contact:</h3>

            <div class="error-msg">
                <!-- user error -->
                <p *ngIf="errorMessageNewContact.length > 0" class="text-danger">{{errorMessageNewContact}}</p>
                <!-- firebase error handle -->
                <p *ngIf="error.message.length > 0" class="text-danger">{{error.message}}</p>
                <!-- the data registered in firebase -->
                <p *ngIf="messageNewContact.length > 0" class="text-info">{{messageNewContact}}</p>
            </div>

            <div class="from-group">
                <input type="text" class="from-control" [(ngModel)]="new_contact.contactFirstName" placeholder="Contact first name">
            </div>

            <div class="from-group">
                <input type="text" class="from-control" [(ngModel)]="new_contact.contactLastName" placeholder="Contact last name">
            </div>

            <div class="from-group">
                <input type="email" class="from-control" [(ngModel)]="new_contact.contactEmail" placeholder="Contact mail">
            </div>
            
            <div class="shareHistory1" name="shareHistory1">
                <label>Do you want this contact to see your alert history?</label><br> 
                <input type="radio" id="share" name="shareOrNot" [(ngModel)]="new_contact.shareHistory" [value]="true" />  
                <label>Yes</label><br>  
                <input type="radio" id="notShare" name="shareOrNot" [(ngModel)]="new_contact.shareHistory" [value]="false" />
                <label>No</label><br>  
            </div>

            <div class="from-group" >
                <!-- <button id="add-contact-btn" (click)="CreateRecord()" [disabled]="!new_contact.contactFirstName || !new_contact.contactLastName || !new_contact.contactEmail">Create Contact</button> -->
                <button class="btn btn-primary" (click)="addContact(new_contact.contactEmail)">Create Contact</button>
                <!-- <button class="btn btn-primary" (click)="CreateRecord()">Create Contact</button> -->

            </div>
        </div>
<!-- -------------- -->
        <div class="container-content">
            <div class="error-msg">
                <!-- user error -->
                <p *ngIf="errorMessageEditContact.length > 0" class="text-danger">{{errorMessageEditContact}}</p>
                <!-- firebase error handle -->
                <p *ngIf="error.message.length > 0" class="text-danger">{{error.message}}</p>
                <!-- the data registered in firebase -->
                <p *ngIf="messageEditContact.length > 0" class="text-info">{{messageEditContact}}</p>
            </div>
            <!-- the next section will hold the data from firebase -->
            <div *ngIf="contacts.length > 0; else noContacts">
                <h3>Your contacts:</h3>
                <table id="table1">
                    <thead >
                        <tr>           
                            <th>First name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Share History</th>
                            <th>Confirmed</th>
                            <th></th>
                            
                        </tr>
                    </thead> 
                    <tbody *ngFor="let item of contacts">
                        <!-- <div *ngFor="let item of contact"> -->
                            <!-- <div *ngIf="!item.isEdit; else elseBlock">   -->
                                <tr *ngIf="!item.inEdit; else elseBlock">         
                                    <td > {{item.firstName}}</td>
                                    <td > {{item.lastName}}</td>
                                    <td > {{item.email}}</td>
                                    <td > {{item.phone}}</td>
                                    <td *ngIf="item.shareHistory; else cantSeeHistory">
                                        This contact can see your history alerts
                                    </td>
                                    <ng-template #cantSeeHistory>
                                        <td>This contact can't see your history alerts</td>
                                    </ng-template >
                                    <div *ngIf="item.confirmed; else notConfirmed">
                                        <td>{{item.firstName}} confirmed the request</td>
                                        <td>
                                            <span>
                                                <a routerLink="/contact-list" (click)="editRecord(item)" class="btn btn-primary">Edit Contact</a>
                                                <a routerLink="/contact-list"  (click)="DeleteContact(item.email)" class="btn btn-danger">Delete Contact</a>
                                            </span>
                                        </td>
                                    </div>
                                    <ng-template #notConfirmed>
                                        <td>{{item.firstName}} still didn't confirmed the request</td>
                                        <td>
                                            <span>
                                                <a routerLink="/contact-list"  (click)="DeleteRequest(item.email)" class="btn btn-danger">Cancel Request</a>
                                            </span>
                                        </td>
                                    </ng-template >                                    
                                    
                                </tr>
                            <!-- </div> -->

                            <!-- next lines willshow after pressing Edit Contact: -->
                            <ng-template #elseBlock>    
                                        <td><input type="text" [(ngModel)]="item.editFirstName" class="edit-from-control" placeholder="First name"></td>
                                        <td><input type="text" [(ngModel)]="item.editLastName" class="edit-from-control"  placeholder="Last name"></td>
                                        <td > {{item.email}}</td>
                                        <td > {{item.phone}}</td>
                                        <td >
                                            <div class="shareHistory2"  name="shareHistory2">
                                                <!-- <label>Do you want this contact to see your alert history?</label><br>  -->
                                                <input type="radio" id="editShare" name="{{'editShareOrNot' + item.email}}" [(ngModel)]="item.editShareHistory" [value]="true" />  
                                                <label>Yes</label><br>  
                                                <input type="radio" id="editShare" name="{{'editShareOrNot' + item.email}}" [(ngModel)]="item.editShareHistory" [value]="false" />
                                                <label>No</label><br>  
                                            </div>
                                        </td>
                                        <td>Confirmed/Not Confirmed</td>

                                    <td>
                                        <button  (click)="item.inEdit = false">Cancel</button>
                                        <button  (click)="updateRecord(item)">Update Contact</button>
                                    </td>
                            </ng-template>
                    </tbody>
                </table>
            </div>
            <ng-template class="container-content" #noContacts>
                <h3>Currently, you do not have any contacts.</h3>
            </ng-template>
        </div>
    </div>
</div> 




