.card#btn-add-section{
  /* background:RosyBrown; */
  background-color: rgba(241, 241, 241, 0);
  border:  rgba(241, 241, 241, 0);
  margin-top: 55px;
}
.card#add-section{
  /* border:3px solid #1b2743; */
  border: 3px solid #2d0a32;
  width: 400px;
}
.card-head{
/* background-color: #0f1131; */
background-color: rgb(73 25 57);
padding: 10px;
}
.card-title {
  margin: 8px;
  color: bisque;
  font-weight: 600;
}
.card-body {
  padding: 1.25rem;
  /* background-color: #d0cac0; */
  background-color: #d8b9ed;
}
.card#contacts { 
  margin-top:50px;
  margin-bottom: 20px;
  width: 400px;
  background-color: #598763;

 }   
 .card#requests { 
  margin-top:50px;
  margin-bottom: 20px;
  width: 400px;
  background-color: #875959;
 } 

label{
  color: rgb(39, 95, 144);
  font-weight: bold;
  font-family: URW Chancery L, cursive;
} 
/* input[type="radio"], input[type="checkbox"] {
  margin-right: 10px;
  margin-left: 40px;
} */
/* input{
  border-radius: 5px;
  border-color: #3e3f419a;
} */
input[type="radio"]{
  margin: 0 10px 0 10px;
}

.error-msg{
  background-color: rgba(236, 236, 236, 0);
}
/*
input[type="radio"]{
    margin: 0 10px 0 10px;
}

a:hover{
  color: bisque;
  background-color: #747679;
  border-color:  #747679; 

}

#cancel{
  margin-bottom: 40px;
}

input{
  border-radius: 5px;
  border-color: #3e3f419a;
}

.error-msg{
  background-color: rgb(236, 236, 236);
}
.btn-danger {
  color: #fff;
  background-color: #fc5b6b86;
  border-color:  #fc5b6b86;
  width: 150px;
  margin: 3px;     
  margin:3px;
  padding: 5px;
  border-radius: 5px;
  width: 150px;
}
.btn-danger:hover{
    background-color: #f5949cc2;
    border-color:  #f5949cc2; 
    width: 150px;
    margin: 3px;
}
#table1 {
  margin-bottom: 30px
} */

/* align-self: center; */


