.card { 
  margin-top:50px;
  margin-bottom: 20px;
  width: 340px;
 } 
label{
  color: rgb(39, 95, 144);
  font-weight: bold;
  font-family: URW Chancery L, cursive;
}


/* a{
  color: bisque;
  background-color: #3e3f41;
  border-color: #3e3f41; 
  width: 150px;
  margin: 3px;     
  margin:3px;
  padding: 5px;
  border-radius: 5px;
  width: 150px;
} */

a:hover{
  color: bisque;
  background-color: #747679;
  border-color:  #747679; 
}



