h4{
    /*color: rgba(190, 190, 190, 0.739);*/
    color: aliceblue;
    /* position: absolute;
    left: 30%;
    top: 25%; */
}
table {
    border: solid 1px rgb(27, 16, 34);
    border-collapse: collapse;
    margin-top: 10px;
    /* position: absolute;
    top: 40%;
    left: 30%; */
  }
  
  th, td{
    border: solid 2px  rgba(0, 0, 0, 0.329);
    padding: 8px 18px;
    /*color: rgba(190, 190, 190, 0.739);*/
    font-family: 'Open Sans' ;/*is this needed??*/
    color: aliceblue;
  }
  
  th {
   font-size: 12px;
   color:  rgba(190, 190, 190, 0.739);
   text-align: left;
   background-color:rgba(0, 0, 0, 0.329);
  }

  table thead th {
    color: aliceblue;
    font-size:  18px; 
    font-family:'Open Sans'; 
    font-weight: bold;
  }
td a{
  margin: 7px;
}