<div class="container content-center">
<h4>Security systems you are connected to:</h4>

    <!-- the next section will hold the data from firebase -->
<table>
    <thead >
        <tr>           
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
        </tr>
    </thead> 
    <tbody *ngFor="let item of connection">
        <!-- <div *ngFor="let item of contact"> -->
            <!-- <div *ngIf="!item.isEdit; else elseBlock">   -->
                <tr>         
                    <td > {{item.name}}</td>
                    <td > {{item.email}}</td>
                    <td > {{item.phone}}</td>
                    <td>
                        <span>
                            <a routerLink="/connected-to"  (click)="DeleteConnection(item.id)" class="btn btn-danger">Delete Connection</a>
                        </span>
                    </td>
                </tr>
    </tbody>
</table>
</div>