<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="accordion" id="accordionInfo">
    <div class="card info">
      <div class="card-header info" id="headingOne">
        <div class="mb-0">
          <h4 class="info_title">Received Requests</h4>
          <button class="btn_info" type="button" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="true" aria-controls="collapseInfo">
            <i class="fa fa-question-circle"></i>
          </button>
        </div>
      </div>
  
      <div id="collapseInfo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionInfo">
        <div class="card-body info">
            This page displays the users you receive alerts from.<br><br>
            Here you can approve/reject requests from people who have invited you to receive alerts from their CNSS device.<br>
            You can have up to 5 contacts.<br/><br/>

            If your contact enabled their history sharing with you, you will be able to view it on the history page.
        </div>
      </div>
    </div>
</div>
<div class="card-list">
    <div [ngSwitch]="connections_state">
        <div *ngSwitchCase="state.Accept">

                <div *ngFor="let request of  requests">
                    <div class="card" id="requests">
                        <h5 id="request-title" class="card-title text-center">{{request.firstName}} {{request.lastName}}</h5>
                        <div class="card-subtitle">wants to add you to their contact list</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><label>First name</label><br>{{request.firstName}}</li>
                            <li class="list-group-item"><label>Last name</label><br>{{request.lastName}}</li>
                            <li class="list-group-item"><label>Email</label><br>{{request.email}}</li>
                            <li class="list-group-item"><label>Phone</label><br>{{request.phone}}</li>
                        </ul>
                        <span>
                            <a routerLink="/connected-to"  (click)="rejectRequest(request.email)" class="btn btn-danger" id="reject">Reject request</a>
                            <a routerLink="/connected-to"  (click)="confirmRequest(request.email)" class="btn" id="btn-accept">Accept request</a>
                        </span>
                    </div>
                </div>

                <div *ngFor="let connection of  connections">
                    <div class="card" id="connections">
                        <button class="btn-delete" (click)="DeleteConnection(connection.email)"><i class="fa fa-trash"></i></button>
                        <h5 id="title-connection" class="card-title text-center">{{connection.firstName}} {{connection.lastName}}</h5>
                        <!-- <button class="btn-delete" (click)="DeleteRequest(contact.email)"><i class="fa fa-trash"></i></button> -->
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><label>First name</label><br>{{connection.firstName}}</li>
                            <li class="list-group-item"><label>Last name</label><br>{{connection.lastName}}</li>
                            <li class="list-group-item"><label>Email</label><br>{{connection.email}}</li>
                            <li class="list-group-item"><label>Phone</label><br>{{connection.phone}}</li>
                        </ul>
                    </div>
                </div>
        

            <br/>
            <br/>
            <br/>

        </div>
        <div class="comment" *ngSwitchCase="state.Deny">Currently, you have no connections or requests</div>
        <div class="comment" *ngSwitchDefault>Loading, please wait...</div>
    </div>
</div>
