.card-list {
  text-align: -webkit-center;
}
.card#connections { 
  margin-top:50px;
  margin-bottom: 20px;
  width: 400px;
  background-color: #598763;

 }   
 .card#requests { 
  margin-top:50px;
  margin-bottom: 20px;
  width: 400px;
  background-color: #875959;
 } 

/* .card { 
  margin-top:50px;
  margin-bottom: 20px;
  width: 340px;
 }  */
label{
  color: rgb(39, 95, 144);
  font-weight: bold;
  font-family: URW Chancery L, cursive;
}


/* a{
  color: bisque;
  background-color: #3e3f41;
  border-color: #3e3f41; 
  width: 150px;
  margin: 3px;     
  margin:3px;
  padding: 5px;
  border-radius: 5px;
  width: 150px;
} */

a:hover{
  color: bisque;
  background-color: #747679;
  border-color:  #747679; 
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  text-align: left;
}

