<!-- page-container is parent to the sidebar -->
<div class="page-container" *ngIf = "(router.url != '/login') && router.url != '/register' && this.authservice.isUserEmailLoggedIn;  else elseNotAuthBlock">
    <div *ngIf="isSidebarOpen; else elseBlock">
        <div class="sidebar">   
            <div class="open-sidebar-toggle" (click)="toggleSideBar()">
                <i class="material-icons">close</i>
            </div>   
                                      
            <div class= "list-items">           
                <a routerLink="/login" class="list-item" (click)="authservice.logout()">
                    <i class="material-icons">arrow_right</i>
                    Logout
                </a>       
                <a routerLink="/profile" routerLinkActive="selected" class="list-item">
                    <i class="material-icons">arrow_right</i>
                    Settings
                </a>
                <a id="owners" *ngIf="is_device_owner" routerLink="/contact-list" routerLinkActive="selected" class="list-item">
                    <i class="material-icons">arrow_right</i>
                    Manage my alert sharing / Send requests      
                </a>
                <label>*CNSS owenrs only</label>
                <a routerLink="/connected-to" routerLinkActive="selected" class="list-item">
                    <i class="material-icons">arrow_right</i>
                    Recieved requests  
                </a>
                <a routerLink="/history" routerLinkActive="selected" class="list-item">
                    <i class="material-icons">arrow_right</i>
                    History
                </a>
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="closed-sidebar">
            <div class="closed-sidebar-toggle" (click)="toggleSideBar()">
                <i class="material-icons">menu</i>
            </div>  
        </div>
    </ng-template>

    <div class="page-content-container">
        <router-outlet></router-outlet>
    </div>

</div>



<!-- if the user is not logged-in: -->
<ng-template class="page-container" #elseNotAuthBlock> 

    <div class="page-content-container">
        <router-outlet></router-outlet>
    </div>
    
</ng-template> 
