.page-container{

    display: flex;

}

.sidebar {

    z-index: 5; /*Added to make sidebar above any other content*/
    
    width: 300px;

    position: fixed;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.918); 

    /*Center sidebar content*/
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}


.page-content-container{

    margin:auto;
 
}

.list-item {

    display: flex;
    align-items: center;
    position: relative;
    
    font-size: 18px;
    color: rgba(255, 255, 255, 0.904);

    /* top&bottom have 10px pdding, left&right have 20px padding */
    padding: 10px 20px;

}

/* when we hover over list-item we will see: */
.list-item:hover {
    color: rgb(255, 255, 255);
    
}

.list-item.selected{
    color:  #ffa76cfb; 
} 

/* the link to icon is in: index.html */
.list-item i.material-icons{
    margin: 15px
}

/* .logout-item i.material-icons{
    margin: 15px
} */
/* Style buttons */
.open-sidebar-toggle{
    background-color: #25436a57;
    color: rgba(255, 255, 255, 0.76);
    display: flex;
    position: inherit;
    margin-left: auto;
    top: 6px;
    /* bottom: 0; */
    left: 270px;
    cursor: pointer;
}
.open-sidebar-toggle:hover {
    color: rgba(255, 255, 255, 0.76);
    background-color: #f79e6393;

}
.closed-sidebar-toggle:hover {
    color: rgba(255, 255, 255, 0.76);
    background-color: #f79e6393;

}
.closed-sidebar-toggle{
    /* background-color: #25436a57; */
    background-color: rgba(0, 0, 0, 0.918);
    color: rgba(255, 255, 255, 0.76);
    display: flex;
    position: inherit;
    margin-left: auto;
    top: 6px;
    left: 5px;
    cursor: pointer;
}

.closed-sidebar{
    z-index: 5; /*Added to make sidebar above any other content*/
    width: 36px;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.329); 
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
