<!-- page-container is parent to the sidebar -->
<div class="page-container" *ngIf = "authservice.currentUser; else elseNotAuthBlock"> 
    <div class="sidebar">
        <div class= "list-items">
            <a routerLink="/login" class="logout-item" (click)="authservice.signout()">
                <i class="material-icons">arrow_right</i>
                Logout
            </a>
            <!-- after the user is logged in there is no reson the login will show in the sidebar -->
            <!-- the arrow icon (we added link in index.html)  -->
            <!-- <a routerLink="/login" class="list-item">
                <i class="material-icons">arrow_right</i>
                Login
            </a> -->
            <a routerLink="/home-page" class="list-item">
                <!-- the arrow icon (we added link in index.html) -->
                <i class="material-icons">arrow_right</i>
                Home page
            </a>
            <a routerLink="/create-timer" routerLinkActive="selected" class="list-item">
                <i class="material-icons">arrow_right</i>
                Create Timer
            </a>
            <a routerLink="/contact-list" routerLinkActive="selected" class="list-item">
                <i class="material-icons">arrow_right</i>
                Contact List
            </a>
            <a routerLink="/history" routerLinkActive="selected" class="list-item">
                <i class="material-icons">arrow_right</i>
                History
            </a>
        </div>
    </div>
    <div class="page-content-container">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- if the user is not logged-in: -->
<ng-template class="page-container" #elseNotAuthBlock>
    <!-- <div class="page-content-container">
        <app-login></app-login>
    </div> -->
    <div class="page-content-container" *ngIf="router.url.includes('/login')">
        <app-login></app-login>
    </div>
    <div class="page-content-container" *ngIf="router.url.includes('/register')">
        <app-register></app-register>
    </div>
</ng-template>
