.page-container{

    display: flex; 

}

.sidebar {
    
    width: 300px;

    position: fixed;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.329); 

    /*Center sidebar content*/
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}


.page-content-container{

    margin:auto;
 
}

.list-item {

    display: flex;
    align-items: center;
    position: relative;
    
    font-size: 18px;
    color: rgba(255, 255, 255, 0.904);

    /* top&bottom have 10px pdding, left&right have 20px padding */
    padding: 10px 20px;

}

/* when we hover over list-item we will see: */
.list-item:hover {
    color: rgb(255, 255, 255);
    
}

.list-item.selected{
    color:  #ffa76cfb; 
} 

/* the link to icon is in: index.html */
.list-item i.material-icons{
    margin: 15px
}

/* .logout-item i.material-icons{
    margin: 15px
} */
