h3{
  color: aliceblue;
  font-weight: bold;
  margin-top: 20%;
  font-family: URW Chancery L, cursive;
  margin-bottom: 40px;
}

/* h4{
  color: aliceblue;
  margin-top:40px;
} */



th, td{
  border: solid 3px  rgba(0, 0, 0, 0.527);
  padding: 8px 20px;
  background-color: rgba(0, 128, 128, 0.52);
  /* font-family: 'Snell Roundhand, cursive' ;/*is this needed??*/
  color: aliceblue; 
}

th {
  color:  rgba(243, 239, 239, 0.918);
  text-align: left;
  background-color:rgba(0, 0, 0, 0.329);
}


tr.noBorder{
  margin-top:30px;
}


a{
  color: bisque;
  background-color: #3e3f41;
  border-color: #3e3f41; 
  width: 150px;
  margin: 3px;     
  margin:3px;
  padding: 5px;
  border-radius: 5px;
  width: 150px;
}

a:hover{
  color: bisque;
  background-color: #747679;
  border-color:  #747679; 

}

#cancel{
  margin-bottom: 40px;
}
.ownership{
  margin-top: 20px;
}

label{
  margin-left: 10px;
}

input{
  border-radius: 5px;
  border-color: #3e3f419a;
  padding-right: 10px;
}

.error-msg{
  background-color: rgb(236, 236, 236);
}
