<div [ngSwitch]="state">
    <div *ngSwitchCase="Status.StandBy">Loading, please wait... </div>
    <div *ngSwitchDefault>

        <div class="accordion" id="accordionInfo">
            <div class="card info">
              <div class="card-header info" id="headingOne">
                  <!-- <h4 class="info_title">Settings Page</h4> -->
                <h2 class="mb-0">
                  <h4 class="info_title">CNSS Settings</h4>
                  <button class="btn_info" type="button" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="true" aria-controls="collapseInfo">
                    <i class="fa fa-question-circle"></i>
                  </button>
                </h2>
              </div>
          
              <div id="collapseInfo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionInfo">
                <div class="card-body info">
                    CNSS stands for 'Collaborative Networking Security Systems'.<br><br>
                    Here you can edit your personal details.<br>
                    Your phone number and email will be visible to your contacts.<br>
                    If you are a CNSS device owner, you can turn the security system On/Off using the switch.<br>
                    To register a new CNSS device click on 'Edit'.<br/><br/>
                    Note: when you change your password you will remain logged in.
                </div>
              </div>
            </div>
        </div>

        <div class="page-content">
            <h3 *ngFor="let item of record">Welcome {{item.firstName}}, you are currently logged in</h3>
            
            <app-system-control></app-system-control>

            <!-- <h4>Your Details:</h4> -->

            <div class="error-msg">
                <!-- user error -->
                <p *ngIf="errorMessage.length > 0" class="text-danger">{{errorMessage}}</p>
                <!-- firebase error handle -->
                <p *ngIf="error.message.length > 0" class="text-danger">{{error.message}}</p>
                <!-- the data registered in firebase -->
                <p *ngIf="message.length > 0" class="text-info">{{message}}</p>
            </div>

            <p>Your details</p>
            <table>
                <tbody *ngFor="let item of record">
                    <div *ngIf="!inEdit; else elseBlock">
                        <tr>
                            <th>First Name</th>    
                            <td>{{item.firstName}}</td>
                        </tr>
                        <tr>
                            <th>Last Name</th>    
                            <td>{{item.lastName}}</td>
                        </tr>
                        <tr>
                            <th>Email</th>   
                            <td>{{item.email}}</td>
                        </tr>
                        <tr>
                            <th>Phone Number</th>   
                            <td>{{item.phone}}</td>
                        </tr>
                        <tr *ngIf="item.is_device_owner; else elseNotOwningCNSSBlock">
                            <th>Are you a CNSS owner?<br>
                                <label class="notes">*To change your device ID, click on "Edit"</label>
                            </th>  
                            <td>Yes</td>
                        </tr>
                        <ng-template #elseNotOwningCNSSBlock>
                            <th>Are you a CNSS owner?<br>
                                <label class="notes">*To add a device ID, click on "Edit"</label>
                            </th>     
                            <td>No</td>
                        </ng-template>

                        <button class="btn btn-danger" *ngIf = "item.is_device_owner; notOwner" id="cancelOwnership" (click)="cancleOwnership()">
                            Cancel Ownership
                        </button>
                        <button (click)="editRecord(item)" class="btn btn-primary" id="edit">Edit</button>
                         
                    </div>
                    
                    <!-- next lines willshow after pressing Edit Contact: -->
                    <ng-template #elseBlock>  
                        <tr>
                            <th>First Name</th>    
                            <td><input type="text" [(ngModel)]="item.editFirstName" class="from-control"></td>
                        </tr>
                        <tr>
                            <th>Last Name</th>    
                            <td><input type="text" [(ngModel)]="item.editLastName" class="from-control"></td>
                        </tr>
                        <tr>
                            <th>Email</th>   
                            <td>{{item.email}}</td>
                            
                        </tr>
                        <tr>
                            <th>Phone Number</th>   
                            <td><input type="text" [(ngModel)]="item.editPhone" class="from-control"></td>
                        </tr>

                        <tr *ngIf="!item.editIsDeviceOwner">
                            <th>Are you a CNSS owner?</th>
                            <td class="ownership" name="ownership">
                                <input type="radio"  [(ngModel)]="item.editIsDeviceOwner" [value]="true" />  
                                <label>Yes</label><br>  
                                <input type="radio"  [(ngModel)]="item.editIsDeviceOwner" [value]="false" />
                                <label>No</label><br>  
                            </td>
                        </tr>
                        <tr *ngIf="item.editIsDeviceOwner">
                            <th>Device ID</th>   
                            <td><input type="text" [(ngModel)]="item.editDeviceID" class="from-control"></td>
                        </tr>
                         
                        <button id="cancel" (click)="inEdit = false">Cancel</button> 
                        <button id="update" (click)="updateRecord(item)">Update</button>
                                      
                        </ng-template>
                </tbody>
                <a id="change-psw" href="#" routerLink="/change-password">Change password</a>                    
            </table>



        </div>
    </div>
</div>

<br/>
<!-- FOR TESTING: -->
<!-- <button id="cancelOwnership" (click)="cancleOwnership()">Cancle Ownership</button> -->
