h3{
  color: #0e272a;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;  
}

p{
  font-weight: bold;
}
th, td{
  border: solid 3px  rgba(0, 0, 0, 0.527);
  padding: 8px 20px;
  background-color: rgba(0, 128, 128, 0.52);
  /* font-family: 'Snell Roundhand, cursive' ;/*is this needed??*/
  color: white; 
}

th {
  color:  white;
  text-align: left;
  background-color:rgba(0, 0, 0, 0.329);
}


tr.noBorder{
  margin-top:30px;
}


.btn:btn-primary{
  color: bisque;
  background-color: #3e3f41;
  border-color: #3e3f41; 
  width: 150px;
  margin: 3px;     
  margin:3px;
  padding: 5px;
  border-radius: 5px;
  width: 150px;
}

.btn:btn-primary:hover{
  color: bisque;
  background-color: #747679;
  border-color:  #747679; 

}

#cancel{
  margin-bottom: 40px;
}
.ownership{
  margin-top: 20px;
}

label{
  margin-left: 10px;
}
label.notes {
  font-size: 14px;
  color: rgb(127 0 0);
  margin: 0px;
  padding: 0px;
}
input{
  border-radius: 5px;
  border-color: #3e3f419a;
  padding-right: 10px;
}

.error-msg{
  background-color: rgb(236, 236, 236);
}
 
a#change-psw{
  padding-bottom: 30px;
  font-weight: bold;
}
a#edit {
  margin-top: 30px;
  margin-bottom: 30px;
}
#cancel{
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 40px;
}
#update{
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 0px;
}