h3{
  color: aliceblue;
  font-weight: bold;
  margin-top: 20%;
}

h4{
  color: aliceblue;
  font-weight: bold;
  font-style: italic;
  margin-top: 20px;
}

table {
  border: solid 1px rgb(27, 16, 34);
  /* border-collapse: collapse; */
  /* margin-top: 10px; */
  /* position: absolute;
  top: 30%;
  left: 30%; */
}

th, td{
  border: solid 3px  rgb(0, 0, 0);
  padding: 8px 18px;
  /*color: rgba(190, 190, 190, 0.739);*/
  /* font-family: 'Open Sans' ;/*is this needed??*/
  /* color: aliceblue;  */
}

th {
  /* font-size: 18px; */
  color:  rgba(190, 190, 190, 0.918);
  text-align: left;
  background-color:rgba(0, 0, 0, 0.329);
}

table thead th {
      /* color: aliceblue; */
      /* font-size:  18px; 
      font-family:'Open Sans'; 
      font-weight: bold; */
}
td a{
  /* margin: 7px; */
}
label{
  /* color: aliceblue; */
}