
<tbody *ngFor="let item of user">
    <div *ngIf="!item.isEdit; else elseBlock">
        <tr>Name:    {{item.name}}</tr>
        <tr>Email:   {{item.email}}</tr>
        <tr>Phone Number:   {{item.phone}}</tr>
        <tr *ngIf="item.isOwningCNSS; else elseNotOwningCNSSBlock">Do I own CNSS?   Yes</tr>
        <ng-template #elseNotOwningCNSSBlock>Do I own CNSS?     No</ng-template>
        <p></p>
        <p></p>
        <tr><a routerLink="/profile" (click)="editRecord(item)" class="btn btn-primary">Edit</a></tr>
    </div>
    <!-- next lines willshow after pressing Edit Contact: -->
    <ng-template #elseBlock>    
        <!-- <div class="from-group"> -->
            <tr><input type="text" [(ngModel)]="item.editName" class="from-control"></tr>
            <tr><input type="text" [(ngModel)]="item.editEmail" class="from-control"></tr>
            <tr><input type="text" [(ngModel)]="item.editPhone" class="from-control"></tr>
            <tr>
                <select [(ngModel)]="item.editIsUserOwnCnss" class="form-control" name="selectOwnOrNotCNSS">
                    <option [value]="undefined" disabled hidden>Select...</option>
                    <option [ngValue]="true">I own a security system</option>
                    <option [ngValue]="false">I dont own a security system</option>
                </select>
            </tr>
            <!-- </div> -->
            <tr><a href="/profile" (click)="updateRecord(item)">Update</a></tr>
            <tr><a href="/profile" (click)="item.isEdit = false">Cancel</a></tr>            
    </ng-template>

</tbody> 
